body {
  background: #F5FFD1;
  background-image: url('/1.jpg');
  /* -webkit-background-size: cover;
  background-size: cover; */
  align-content: center
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }



}
.channel {
  display:block !important;
}
.row {
  display:inline-block;
}
#box {
  display:flex;
}
#dial {
  display:inline-flex;
}
.row-container {
  display: flex;
  display:block !important;
  /* background-color: DodgerBlue; */
}

.row-container > div {
  background-color: #f1f1f1;
  /* margin: 10px;
  padding: 20px;
  font-size: 30px; */
}
#user-form {
  text-align: center;
  padding: 20px 20px 20px 20px;
  display: flex;
  /* border: solid 6px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #C7ED0B;
  text-align: center;
  font-size: 10pt;
  /* font-weight:  bold; */
}

#user-form input[type=user],
#user-form input[type=password]{
  border: none;
  border-bottom: 1px solid #2D3047;
  background-color: transparent;
  outline: none;
  height: 40px;
  display: 16px
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  display: flex;
  padding: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #C7ED0B;
  font-size: 10pt;
}
#title {
  color: white;
  font-size: 2em;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-style: italic;
}
#title2 {
  color: white;
  font-size: 1.1em;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-style: italic;
}
#title3 {
  padding: 0.35em .1em;
  color: #ECA72C;
  font-size: 2em;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-style: italic;
}
#sub {
  color: white;
  font-size: 1em;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-style: bold;
}
/* 
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
} */
